* {box-sizing: border-box; font-family: var(--body-font);}



html { scroll-behavior: smooth; max-width: 100vw; overflow-x: hidden;}
body {width: 100%; margin: 0px;  }

/* fonts */
h1, h2, h3, h4, h5, h6, p, a, i, span, strong {margin: 0;}

h1 {font-size: 56px; font-family: var(--aldine-regular); font-weight: 400; padding: 10px 0; }


h2 {font-size: 42px; font-family: var(--aldine-regular); }
h2 i {font-family: var(--aldine-regular); font-weight: 400; }
h2 strong {font-family: var(--aldine-regular); font-weight: 600;}
h2 strong i {font-family: var(--aldine-regular); font-style: italic; }

h3 {font-size: 28px; font-weight: 400; font-family: var(--aldine-regular); line-height: 36px; }
h3 i {font-family: var(--aldine-regular);}
h3 strong {font-family: var(--aldine-regular);}
h3 strong i {font-family: var(--aldine-regular); }

h4 {font-size: 24px; line-height: 28px; font-family: var(--aldine-regular); color: var(--color1); text-transform: uppercase;}

p {font-family: var(--just-sans-light); font-size: 18px; line-height: 24px;}
a { font-size: inherit; font-family: var(--just-sans-light); line-height: inherit; color: var(--navy)}
.no-link-styling {text-decoration: unset;}
i * {font-family: var(--aldine-regular); font-style: italic;}
strong * {font-weight: 600;}
span {font-family: inherit}

.xs-text {font-size: 12px;}
.s-text {font-size: 14px;}
.m-text {font-size: 16px;}

ul {margin: 0; padding: 0;}
li {font-family: var(--just-sans-semibold)}


@media screen and (max-width: 480px) {
  h1 {font-size: 48px; line-height: 58px;}
}

.card-overlay li {margin: 2px 0;}


:root {

  --color1: #474389;
  --color2: #B2D0E8;
  --color3: #deebf5;
  --color4: rgba(171, 177, 193, 0.15);

}

.color1-text {color: var(--color1)}
.color2-text {color: var(--color2)}
.color3-text {color: var(--color3)}
.white-text {color: white;}
.black-text {color: black;}
.centered-text {text-align: center;}



.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}

.full-width {width: 100%;}
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}
.no-flex-grow {flex: unset;}

.basic-padding {padding: 25px;}
.basic-padding-top-bottom {padding: 25px 0;}
.basic-padding-top {padding-top: 25px;}

.margin-top-10 {margin-top: 10px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-left-10 {margin-left: 10px;}
.margin-right-10 {margin-right: 10px;}

.hidden-scrollbar {scrollbar-width: none;  -ms-overflow-style: none; }
.hidden-scrollbar::-webkit-scrollbar {display: none;}

button {font-family: var(--just-sans-semibold); padding: 10px 15px; font-size: 18px; border: unset; border-radius: 5px; background: unset; color: inherit; text-transform: uppercase;}
button:hover {cursor: pointer; font-size: 19px; box-shadow: 0.5px 0.5px 3px inherit;}


.button-1 {background: var(--color1); color: white; border: 2px solid var(--color1); padding: 8px 15px;}
.button-2 {border: 2px solid var(--color1); box-shadow: 0.5px 0.5px 1px var(--color1); color: var(--color1);}
.button-3 {border: 2px solid var(--color1); box-shadow: 0.5px 0.5px 1px var(--color1); color: var(--color1); backdrop-filter: blur(1px);}
.button-4 {border: unset; border-bottom: 2px solid var(--color1); border-radius: unset!important; padding: 10px 15px 10px 0px; color: var(--color1); text-transform: unset!important; }

.xs-button {font-size: 16px!important; padding: 10px 7px;}

/* Navigation */
.nav-link {margin: 0 10px; color: white; text-decoration: none; font-weight: 700;}
nav.nav-bar { z-index: 3; position: fixed; top: 0; left: 0; width: 100vw; max-width: 100vw; overflow-x: clip; }
.nav-bar-inner {padding: 10px 25px; color: white; width: 100%; backdrop-filter: blur(1px); transition: all 1s smooth;}



.mobile-menu {background: var(--color3); display: none; width: 100%; padding: 10px; overflow: hidden; height: 0; opacity: 0; transform: translateY(-20px)}
.mobile-menu .nav-link {font-size: 16px!important; color: black; text-align: center; text-transform: unset;}
.mobile-menu-button {background: unset;}
.mobile-menu-button .menu-icon {transition: opacity 0.3s ease;}
.mobile-menu {transition: height 0.3s ease, opacity 0.3s ease; will-change: height, opacity;}

@media screen and (max-width: 750px) {
  .mobile-menu {display: block;} 
}


.logo {transition: all 0.3s ease;} 

.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
.text-shadow {text-shadow: 2px 2px 2px rgba(0,0,0,0.15);}

.active-link {text-decoration: underline;}

#designElixirCredits {text-decoration: none; font-size: 12px; color: black;}
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both; animation-delay: 0.5s;}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.centered-text {text-align: center;}
.white-text {color: white;}
.basic-padding {padding: 25px;}

.service {aspect-ratio: 1; max-width: 25vw; height: 25vw; border: 1px solid var(--navy); padding: 10px; margin: 2.5vw;}
input {padding: 10px; max-width: 600px; width: 100%;}
textarea {padding: 10px; width: 600px; width: 100%;}
label {margin-bottom: 10px; width: 100%; }


.hero-container {width: 100%; min-height: 100vh; background-color: var(--color4); }
.hero-wrapper {width: 100%; height: calc(100% - 50px); max-height: calc(100% - 50px); min-height: 600px; padding: 50px 0; }
.hero-background-image {background-image: url('/Staff.jpg'); background-size: cover; background-position: center 70%; background-repeat: no-repeat;}
.bouncing-arrow {width: 100%; height: 50px; padding: 10px 0; }
.bounce-top{-webkit-animation:bounce-top 3s linear infinite both;animation:bounce-top 3s linear infinite both}
.hero-break {display: none;}

@media screen and (max-width: 480px) {
  .hero-container {max-height: 800px; min-height: unset!important;}
  .hero-wrapper {padding: 25px 0;}
  .hero-break {display: block;}
}


.spacer {height: 100px;}


@keyframes bounce-top 
{
  0% {-webkit-transform: translateY(-15px); transform: translateY(-15px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; opacity: 1;}
  50% {-webkit-transform: translateY(0px); transform: translateY(0px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in;}
  100% {-webkit-transform: translateY(-15px); transform: translateY(-15px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in;}
}



.box {margin: 25px; width: 200px; aspect-ratio: 1}
.box h3 {text-align: center; font-size: 24px; line-height: 28px; margin-top: 25px;}


@media screen and (max-width: 800px) {
  .box-container {flex-direction: column; justify-content: center; align-items: center;}
  .box {width: 100%; aspect-ratio: unset;}
  .box-break {display: none;}
}

.contact-image { background-image: url('/Van-resized-extended.jpg'); background-size: cover; background-position: center 70%; background-repeat: no-repeat;}
.contact-form-wrapper {max-width: 700px; width: 80vw; padding: 25px; background: var(--color3)}

.card {  width: 100%; margin: 25px; background-repeat: no-repeat; background-size: 200% 200%;}
.card-overlay {background: rgba(255, 255,255, 0.5); backdrop-filter: blur(5px); height: 100%; width: 100%; padding: 15px; }

.half-hero {height: 60vh; width: 100%; padding: 25px; background-image: url('/employees-wide.jpg'); background-size: cover; background-position: center;}

footer {background: var(--color1);}
@media screen and (max-width: 600px) {
  .footer-top {align-items: center; justify-content: center; flex-direction: column;}
  .footer-contact {align-items: center; justify-content: center;}
}

